button.signup-button{
    height: 100%;
    width: 100%;
    border-style: none;
    font-size: 1.2rem;
    background-color: #ff8a47;
    color: white;
}

button:hover{
    font-weight: bold;
}

button:focus {
    outline: none;
}

.input-and-buttons-signup{
    width: 90%;
    margin-left: 5%;
}

.model-body{
    height: auto;
}

li {
  color: red;
  text-align: center;
  padding-top: 20px;
  text-decoration: none;
  list-style-type: none;
}

.modal-signup-button{
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 0;
}