/* TODO Add site wide styles */

body {
  background: url('./images/green-chameleon-s9CC2SKySJM-unsplash.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header-text-large{
  position: absolute;
  z-index: -1;
}