/* @media (max-width: 64em)
.navbar {
    width: 100%;
} */

.navbar {
    align-items: center;
    background-color: #fff;
    display: flex;
    height: 5em;
    justify-content: space-between;
    left: 0;
    margin: 0 auto;
    position: fixed;
    right: 0;
    top: 0;
    transition: top .2s ease;
    width: 100%;
    z-index: 7;
}