button{
    height: 100%;
    width: 100%;
    border-style: none;
    font-size: 1.2rem;
    background-color: #fdf8f7;
    color: black;
}

button:hover{
    font-weight: bold;
}

button:focus {
    outline: none;
}

.modal-login-button{
    align-items: center;
    justify-content: center;
}

.modal-login-button-text {
  height: 36px;
  border: none;
  color: #fff;
  box-sizing: border-box;
  font-weight: 400;
  position: relative;
  font-size: 16px;
  border-radius: 33px;
  background-color: #cecece;
  width: 60%;
  margin-top: 20%;
  margin-left: 20%;
  outline-style: none;
}

.input-and-buttons{
    top: 50%
}

.modal-login-button-text-demo {
    align-items: center;
    margin-top: 5%;
    margin-left: 20%;
}

.demo-button {
    padding-bottom: 20px;
}

ul{
    text-align: center;
    padding: 0;
    list-style-position: inside;
}

li{
    width: 100%;
}

