
.modal-login-button{
    align-items: center;
    justify-content: center;
}

.modal-login-button-text {
  height: 36px;
  border: none;
  color: #fff;
  box-sizing: border-box;
  font-weight: 400;
  position: relative;
  font-size: 16px;
  border-radius: 33px;
  background-color: #cecece;
  width: 60%;
  margin-top: 20%;
  margin-left: 20%;
  outline-style: none;
}

.input-and-buttons{
    margin-top: 50%;
}

.modal-login-button-text-demo {
    align-items: center;
    margin-top: 5%;
    margin-left: 20%;
}

